{%- macro render_streak(streak, label) -%}
    <h2>{{ label }}</h2>
    <div class="streak-length">{{ streak.length }} days</div>
    <div class="streak-date">{{ streak.start_date }}</div>
{%- endmacro -%}

{%- macro render_record(record) -%}
    <div id="record-{{ record.key.id() }}" class="record weekly">
        <ul class="days">
            <li class="day-name"></li>
            <li class="day-name"><div>M</div></li>
            <li class="day-name"></li>
            <li class="day-name"><div>W</div></li>
            <li class="day-name"></li>
            <li class="day-name"><div>F</div></li>
            <li class="day-name"></li>
            {%- for i in range((record.start_date.isoweekday()) % 7) -%}
            <li class="placeholder"></li>
            {%- endfor -%}
            {%- for d in record.calendar -%}
            <li class="day{% if d[0] %} set{% endif %}">
                <div class="tooltip">{{ d[1]|e }}</div>
            </li>
            {%- endfor -%}
        </ul>
        {% set latest_streak = record.latest_streak %}
        {% if latest_streak %}
        <div class="streak-info">
            {% set longest_streak = record.longest_streak %}
            <div class="streak">
                {{ render_streak(longest_streak, 'Longest Streak') }}
            </div>
            <div class="streak">
                {{ render_streak(latest_streak, 'Latest Streak') }}
            </div>
        </div>
        {% endif %}
        <form action="javascript:void();">
            <h1>View options:</h1>
            <input type="radio" name="layout" value="plain">
            <label>Plain</label>
            <input type="radio" name="layout" value="weekly" checked>
            <label>Github-like</label>
        </form>
    </div>
{%- endmacro -%}
