{% from '_record_helpers.jinja2' import render_record %}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>records</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/record_list.css">
    <link rel="stylesheet" type="text/css" href="/css/record.css">
</head>
<body>
    <header><a href="/r/">home</a> | <a href="/u/">user list</a></header>
    <h1>{{ user|e|default('everybody', True) }}'s records</h1>
    <button id="show-form">+ New</button>
    <form class="hidden" name="new_record" action="/r/" method="post">
        <h1>Create new</h1>
        <label for="name">name</label>
        <input name="name" type="text"><br>
        <label for="start_date">start_date</label>
        <input name="start_date" type="text" value="2014-01-01"><br>
        <label for="user">user</label>
        <input name="user" type="text" {% if user %}value="{{ user|e }}"{% endif %}><br>
        <input type="hidden" name="method" value="new"></input>
        <button type="button">Cancel</button>
        <input type="submit">
    </form>
    <ul id="record_list">
        {%- for rec in records %}
        <li class="vertical">
            {{ render_record(rec, show_link=True, show_user=(not user), start_date=start_date) }}
        </li>
        {%- endfor %}
    </ul>
    <footer><a href="https://github.com/mvanek/day-blocks">source on github</a></footer>
    <script src="/js/record.js"></script>
    <script>
(function() {
    var form = document.forms.new_record,
        cancelButton = form.querySelector('button'),
        showButton = document.getElementById('show-form');
    showButton.addEventListener('click', function() {
        form.classList.remove('hidden');
    }, false);
    cancelButton.addEventListener('click', function(e) {
        form.classList.add('hidden');
    }, false);
}());
    </script>
</body>
</html>
