<!doctype html>
<html>
<head>
    <title>records</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <style>
    footer { text-align:center; }
    </style>
</head>
<body>
    <form name="new_record" method="post">
        <label for="name">name</label>
        <input name="name" type="text">
        <label for="start_date">start_date</label>
        <input name="start_date" type="text" value="2014-01-01">
        <input type="hidden" name="method" value="new"></input>
        <input type="submit">
    </form>
    <ul id="record_list">
        <header>All Records</header>
        {% for rec in records %}
        <li class="record">
            <a href="/r/{{ rec.key.id() }}">{{ rec.name|e }}</a>
        </li>
        {% endfor %}
    </ul>
    <footer><a href="https://github.com/mvanek/day-blocks">source on github</a></footer>
</body>
</html>
