<!doctype html>
<html>
<head>
    <title>{{ record.name|e }}</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/record.css">
</head>
<body>
    <header><a href="/r/">home</a></header>
    <form name="set_name" method="post">
        <label for="name">name</label>
        <input type="text" name="name" value="{{ record.name|e }}">
        <input type="hidden" name="method" value="set_name"></input>
        <input type="submit">
    </form>
    <form name="set_startdate" method="post">
        <label for="date">start date</label>
        <input type="text" name="date" value="{{ record.start_date }}">
        <input type="hidden" name="method" value="set_start"></input>
        <input type="submit">
    </form>
    <div class="record weekly">
        <form name="view" action="javascript:void();">
            <h1>Layout</h1>
            <input type="radio" name="layout" value="plain">
            <label>Plain</label>
            <input type="radio" name="layout" value="weekly" checked>
            <label>Github-like</label>
        </form>
        <div class="streaks">
            <div class="longest-streak">Longest streak: {{ record.longest_streak }}</div>
            <div class="latest-streak">Last streak: {{ record.current_streak }}</div>
        </div>
        <ul class="days">
            <li class="day-name"></li>
            <li class="day-name"><span>M</span></li>
            <li class="day-name"></li>
            <li class="day-name"><span>W</span></li>
            <li class="day-name"></li>
            <li class="day-name"><span>F</span></li>
            <li class="day-name"></li>
            {%- for i in range((record.start_date.isoweekday()) % 7) -%}
            <li class="placeholder"></li>
            {%- endfor -%}
            {%- for d in record.calendar -%}
            <li class="day{% if d[0] %} set{% endif %}">
                <div class="tooltip">{{ d[1]|e }}</div>
            </li>
            {%- endfor -%}
        </ul>
    </div>
    <script src="/js/record.js"></script>
</body>
</html>
