{% from '_record_helpers.jinja2' import render_record %}

<!doctype html>
<html>
<head>
    <title>{{ record.name|e }}</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/record.css">
</head>
<body>
    <header><a href="/r/">home</a> | <a href="/u/">user list</a></header>
    <form name="set_name" method="post">
        <label for="name">name</label>
        <input type="text" name="name" value="{{ record.name|e }}">
        <input type="hidden" name="method" value="set_name"></input>
        <input type="submit">
    </form>
    <form name="set_startdate" method="post">
        <label for="date">start date</label>
        <input type="text" name="date" value="{{ record.start_date }}">
        <input type="hidden" name="method" value="set_start"></input>
        <input type="submit">
    </form>
    <form name="set_user" method="post">
        <label for="user">user</label>
        <input type="text" name="user" value="{{ record.user|default('', True)|e }}">
        <input type="hidden" name="method" value="set_user"></input>
        <input type="submit">
    </form>
    {{ render_record(record) }}
    <script src="/js/record.js"></script>
</body>
</html>
